<div class="card text-center single-post">
    <section class="card-header single-post-header">
        <h2> {{post.title}} </h2>
    </section>
    <section class="card-body single-post-body">
        <h5 class="card-title">{{post.content}}</h5>
    </section>
    <section class="card-footer text-muted single-post-footer">
        <p>Posted at: {{format_date post.createdAt}}</p>
    </section>

    <div class="card">
        <h3 class="card-header">Edit Post</h3>
        <form class="card-body edit-post-form">
            <label for="post-title" class="form-label">Title</label>
            <input name="post-title" id="edit-post-title" type="text" value="{{post.title}}" class="form-input" />
            <label class="form-label" for="content">Content</label>
            <input name="content" id="edit-post-content"type="text" value="{{post.content}}" class="form-input" />
            <button type="button" id="post-update" class="btn">Update Post</button>
            <button type="button" id="post-delete" class="delete-post-btn btn">Delete Post</button>
        </form>
    </div>

</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>