<body>
    <div class="posthome wrapper">
        <header class="hero">
            <div>
                {{!-- <nav class="nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav> --}}
            </div>

            {{#if loggedIn}}
            {{!-- <h1 class="app-title"><i class="fab"></i>Your Tech Blog Dashboard</h1> --}}
            {{else}}
            {{!-- <h1 class="app-title"><i class="fab"></i>The Tech Blog</h1> --}}
            {{/if}}
        </header>

        <article class="post">
        {{!-- loops that render each post on homepage --}}
        {{#each posts as |post| }}


        <div class="card">
            <div class="card-reader">
                <h4><a class="link link-button" href="/post/{{post.id}}">{{post.title}}</a></h4>
            {{!-- <div class="row align-center mb-5 home-post post-home"> --}}
                {{! replaced above div with below div}}

                {{!-- <div class="col-md-9 post-title"> --}}
              {{!-- <div class="card-header"> --}}
            <!-- Render user-specific data with Handlebars.js expressions -->
            {{!-- <h4>{{post.title}}</h4> --}}
            

        {{!-- <div class="col-md-3 post-title"> --}}
            <div class="card-header">
                <p class="date-time">-by {{user.username}} on {{format_date post.createdAt}}</p>
            </div>
    
            <p class="card-body">{{content}}</p>
            </div>
        </div>
{{!-- </a>  --}}


        {{/each}}
        </article>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

    </div>
</body>